* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    margin: 0;
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: rgb(26, 35, 53);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    margin: 0;
    padding: 0;
}

.flowers-container{
    background-color: bisque;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

}
.card{
    background-color: lemonchiffon;
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;


}
.card-el{
    padding: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    max-width: 300px;

}
.title{
    font-weight: 900;
}